<h1 id="head">URL SHORTNER</h1>

<div class="mains">
  Enter URL to be shortened
  <div>
    <br />
    <input matInput type="text" (keyup)="onKey($event)" />
    <br />
    <br />
    <button mat-button (click)="fetchShortenedUrl()">Go</button>
  </div>
  <br />
  <span (click)="addCountForClick()">
    <a href="{{this.shortenedUrl}}">{{shortenedUrl}}</a>
  </span>

  <br />
  Number of API searches: <mat-card>
    {{search}}
  </mat-card>
  <br />
  Number of search hits: <mat-card>
    {{count}}
  </mat-card>
</div>